@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .absolute-center {
    @apply absolute;
    @apply top-1/2 left-1/2;
    @apply -translate-x-1/2 -translate-y-1/2;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply h-dvh;
  @apply touch-none;
}

#root {
  @apply h-full;
}
